.exam-hero{
padding:70px 20px;
text-align:center;
}

.exam-hero h1{
font-size:52px;
font-weight:700;
margin-bottom:15px;
}

.exam-hero p{
max-width:850px;
margin:auto;
font-size:18px;
color:#6b7280;
}

.exam-categories{
display:flex;
justify-content:center;
gap:15px;
flex-wrap:wrap;
padding:20px;
}

.exam-categories button{
border:none;
padding:12px 22px;
border-radius:12px;
background:white;
border:1px solid #ddd;
font-weight:600;
cursor:pointer;
}

.exam-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:25px;
padding:40px;
}

.exam-item{

background:white;

border-radius:20px;

padding:25px;

cursor:pointer;

transition:0.3s;

border:1px solid #ddd;
}

.exam-item:hover{

transform:translateY(-8px);

box-shadow:0 15px 30px rgba(0,0,0,0.1);

}

.exam-item h3{
margin-top:15px;
}

.exam-item p{
color:#6b7280;
}

.exam-icon{
font-size:45px;
color:#2563eb;
}

.exam-modal{

display:none;

position:fixed;

inset:0;

background:rgba(0,0,0,0.5);

justify-content:center;

align-items:center;

z-index:9999;
}

.exam-modal-content{

width:700px;

max-width:95%;

max-height:85vh;

overflow:auto;

background:white;

padding:30px;

border-radius:20px;

position:relative;
}

.close-btn{

position:absolute;

right:20px;

top:10px;

font-size:35px;

cursor:pointer;
}

@media(max-width:768px){

.exam-grid{
padding:20px;
}

.exam-hero h1{
font-size:36px;
}

}